{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>
<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">

                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                    <i class="icon icon-menu"></i>
                </button>

                    <div class="toolbar-separator d-block d-lg-none"></div>
                
   
                <div class="toolbar-separator"></div>

                <div id="navbar_logo">
                    <img  src="../static/assets/images/logos/icon-sidebar.png">  CTO Live Quiz</div>
                </div>
            </div>
        </div>

    
</nav>

<div id="wrapper">


        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div  class="aside-content-wrapper" >
        
                    <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
        
                        <div class="aside-toolbar">
        
                            <div class="logo">
                                <img src="../static/assets/images/logos/icon-sidebar.png"/>
                                <span class="logo-text">CTO Live Quiz</span>
                            </div>
        
                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>
        
                        </div>
        
                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
        
                            <li class="subheader">
                                <span>MENU</span>
                            </li>
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                    <a class="nav-link ripple"  href="/home_admin" aria-expanded="false" aria-controls="collapse-coordination">
            
                                        <i class="icon s-4 icon-home"></i>
            
                                        <span>Home</span>
                                    </a>
                            </li>
        
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
        
                                    <i class="icon s-4 icon-clock"></i>
        
                                    <span>Administración</span>
                                </a>
                                <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
    
        
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                            
                                            <i class="icon s-4 icon-chevron-double-left"></i>
                                            <span>Cargar test</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple  active" href="/create_groups" data-url="index.html">
        
                                        <i class="icon s-4 icon-code-tags"></i>
        
                                        <span>Grupos</span>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/create_class" data-url="index.html">
            
                                            <i class="icon s-4 icon-chevron-double-right"></i>
            
                                            <span>Crear clase</span>
                                        </a>
                                    </li>
                                    <!--
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/team_admin" data-url="index.html">
            
                                            <i class="icon s-4 icon-grid-large"></i>
            
                                            <span>Administrar Equipos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/invite" data-url="index.html">
            
                                            <i class="icon s-4 icon-person-plus"></i>
            
                                            <span>Invitar alumno</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/class_results" data-url="index.html">
            
                                            <i class="icon s-4 icon-chart-areaspline"></i>
            
                                            <span>Resultados de clase</span>
                                        </a>
                                        </li>-->
                       
                            </ul>
                            <li class="nav-item" style="position: absolute; bottom: 10px;">
                                    <a class="nav-link ripple " href="/logout" data-url="index.html">
    
                                    <i class="icon s-4 icon-logout"></i>
    
                                    <span>Cerrar sesión</span>
                                </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </aside>


            <!-- Barra de navegación -->

            <div  style="width: 100%;" class="content-wrapper">
                    <div class="content custom-scrollbar">
    
                        <div id="project-dashboard" class="page-layout simple right-sidebar">
    
                            <div class="page-content-wrapper custom-scrollbar">
    
                                <!-- HEADER -->
                                <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    
                                    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
    
                                        <div>
                                            <span class="h2">Bienvenido a CTO Live Quiz {{ user_name }}</span>
                                            
                                        </div>
    
                                    </div>
    
    
                                </div>
                                <form style="margin-top:2%;" method="POST" enctype="multipart/form-data">
                                        <div class="row">
                                            
                                            <div class="col-3" >
    
                                            </div>
                                            <div class="col-6" style="background-color:ghostwhite; box-shadow: 2px 2px 10px #666;">
                                                    <span style="text-align:center; "><h3>Cargar lista de alumnos</h3></span>
                                                
                                                <div class="col-12" style="margin-top:50px;" >
                                                        <div class="form-group" >
                                                                <input class="form-control" type="text" name="group_input" id="group_input" required />
                                                                <label for="group_input">Nombre del grupo:</label>
                                                            </div>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="file" class="file-uploader" style="width:107.5%;">
                                                        <i class="icon-upload"></i>Seleccione un archivo
                                                    </label>  
                                                        <input type="file" name="file" id="file" class="form-control" style="display:none;" /> 
                                                      
                                                </div>  
                                                <div class="col-12">
      
                                                </div>  
                                                <div col="col-12" style="margin-left:10px; width:95%;">
                              
                                                </div>
                                                <div col="col-12">
                                                        <button style="width:100%;  margin-bottom:5%;"type="submit" class="btn btn-secondary" id="cargar">Iniciar carga</button>
                                                </div>
                                                
    
                                            </div>
                                            <div class="col-3" >
    
                                            </div>
    
    
                                        </div>
                                    </form>  
    
    
                </div>
               </div>

           
        
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#cargar').bind("click",function() 
        { 
            var file_name = $('#file').val(); 
            var file_name_array = file_name.split('\\');
            file_name = file_name_array[file_name_array.length - 1];
            if(file==''){ 
                alert("No se ha seleccionado ningún archivo"); 
                return false; 
            }
            else{
                
                file_name_array = file_name.split('.');
                var file_extension = file_name_array[file_name_array.length - 1];
                alert(file_extension);
                if(file_extension != "xlsx" && file_extension != "xls"){
                    alert("Formato de archivo no válido");
                }



            } 
    
    
        }); 
    });
        $('#file').change(function() {
            var i = $(this).prev('label').clone();
            var file = $('#file')[0].files[0].name;
            $(this).prev('label').text(file);
        });
        </script>
</main>
</body>

{% endblock %}