<!doctype html>
<html>

<head>
    <title>CTO Live Quiz</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../static/assets/favicon2.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }
            
           
        @media (max-width: 992px){
            #toolbar{
                display: inline; 

            }
            #navbar_logo{
                margin: 0 auto;
            }

        }

        @media (min-width: 993px){
            #toolbar{
                display: none;    
        }
        
   
    }
    .file-uploader{
        font-size:18px;
        background-color:lightslategrey;
        height: 35px;
        border: 2px solid lightslategrey;
        color:#FFF!important;
        text-align:center;
        width:110%;
        border-radius:2px;
        
    }
    .file-uploader:hover{
        color:lightslategrey!important;
    background-color:aliceblue;
    

}

        #chart svg {
            height: 400px;
          }
          #chart2 svg {
            height: 100%;
            width: 100%;
          }



       
    </style>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="../static/assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="../static/assets/vendor/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="../static/assets/vendor/pnotify/pnotify.custom.min.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="../static/assets/vendor/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="../static/assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="../static/assets/vendor/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="../static/assets/css/main.css" />
    
    <link type="text/css" rel="stylesheet" href="../static/assets/css/file-uploader.css" />
    <!-- / STYLESHEETS -->

    <!-- JAVASCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="../static/assets/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="../static/assets/vendor/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="../static/assets/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="../static/assets/vendor/popper.js/index.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../static/assets/vendor/bootstrap/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="../static/assets/vendor/d3/d3.min.js"></script>
    <script type="text/javascript" src="../static/assets/vendor/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="../static/assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../static/assets/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="../static/assets/vendor/pnotify/pnotify.custom.min.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="../static/assets/vendor/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="../static/assets/js/main.js"></script>
    
    <!-- / JAVASCRIPT -->
</head>

    

            {% block body %}
            {% endblock %}
        

    
</html>
