{% extends "base.html" %}
{% block body %}
<div id="wrapper">
        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
            <div  class="aside-content-wrapper" >
    
                <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
    
                    <div class="aside-toolbar">
    
                        <div class="logo">
                            <img src="../static/assets/images/logos/icon-sidebar.png"/>
                            <span class="logo-text">CTO Live Quiz</span>
                        </div>
    
                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                            <i class="icon icon-backburger"></i>
                        </button>
    
                    </div>
    
                    <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
    
                        <li class="subheader">
                            <span>MENU</span>
                        </li>
                        <li class="nav-item" role="tab" id="heading-coordination">
        
                            <a class="nav-link ripple"  href="/home" aria-expanded="false" aria-controls="collapse-coordination">
    
                                <i class="icon s-4 icon-home"></i>
    
                                <span>Home</span>
                            </a>
                    </li>
    
                        <li class="nav-item" role="tab" id="heading-coordination">
    
                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
    
                                <i class="icon s-4 icon-clock"></i>
    
                                <span>Clase actual</span>
                            </a>
                            <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">

    
                                <li class="nav-item">
                                    <a class="nav-link ripple" href="/pretest" data-url="index.html">
                                        
                                        <i class="icon s-4 icon-chevron-double-left"></i>
                                        <span>Pre-Test</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ripple " href="/livetest" data-url="index.html">
    
                                    <i class="icon s-4 icon-code-tags"></i>
    
                                    <span>Live-Test</span>
                                </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link ripple " href="/posttest" data-url="index.html">
        
                                        <i class="icon s-4 icon-chevron-double-right"></i>
        
                                        <span>Post-Test</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link ripple " href="/team_admin" data-url="index.html">
        
                                        <i class="icon s-4 icon-grid-large"></i>
        
                                        <span>Administrar Equipos</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link ripple " href="/invite" data-url="index.html">
        
                                        <i class="icon s-4 icon-person-plus"></i>
        
                                        <span>Invitar alumno</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link ripple active" href="/class_results" data-url="index.html">
        
                                        <i class="icon s-4 icon-chart-areaspline"></i>
        
                                        <span>Resultados de clase</span>
                                    </a>
                                    </li>
                   
                        </ul>
                        <li class="nav-item" style="position: absolute; bottom: 10px;">
                                <a class="nav-link ripple " href="/login" data-url="index.html">

                                <i class="icon s-4 icon-logout"></i>

                                <span>Cerrar sesión</span>
                            </a>
                            </li>
                    </ul>
                </div>
            </div>
        </aside>


        <!-- Barra de navegación -->

        <div  style="width: 100%;" class="content-wrapper">
            <div class="content custom-scrollbar">

                <div id="project-dashboard" class="page-layout simple right-sidebar">

                    <div class="page-content-wrapper custom-scrollbar">

                        <!-- HEADER -->
                        <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">

                            <div class="row no-gutters align-items-start justify-content-between flex-nowrap">

                                <div>
                                    <span class="h2">{{page_name}}</span>
                                </div>

                            </div>


                        </div>


        </div>
       </div>

   

</div>
</div>
</div>

{% endblock %}