{% extends "base.html" %} {% block body %}

<body background="static/assets/images/backgrounds/dark-material-bg.jpg">   
    <main>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span class="text-center"style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size:40px; background-color:rgba(255, 255, 255, 0.6); border-radius:5px;">Bienvenido, por favor seleccione una clase:</span>
                </div>
            </div>
        </div>
        <form action="/class_selector" method="POST">
            <div class="container">
                {% for class in classes %}
                    <div class="row">
                        <div class="col"></div>
                        <div class="col-md-4">
                            <a href="/home_professor?class_id={{class['id']}}" class="btn btn-primary" style="height:100px; width:300px; margin-top:10px; margin-bottom:10px; border-radius: 5px;" >{{ class["name"] }}</a>
                        </div>
                        <div class="col"></div>
                    </div>  
                {% endfor %}
            </div>
        </form>
            


    </main>
</body>

{% endblock %}