{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>
<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">

                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                    <i class="icon icon-menu"></i>
                </button>

                <div class="toolbar-separator d-block d-lg-none"></div>
                
   
                <div class="toolbar-separator"></div>

                <div id="navbar_logo">
                    <img  src="../static/assets/images/logos/icon-sidebar.png">  CTO Live Quiz</div>
                </div>
            </div>
        </div>

    
</nav>

<div id="wrapper">


        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div  class="aside-content-wrapper" >
        
                    <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
        
                        <div class="aside-toolbar">
        
                            <div class="logo">
                                <img src="../static/assets/images/logos/icon-sidebar.png"/>
                                <span class="logo-text">CTO Live Quiz</span>
                            </div>
        
                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>
        
                        </div>
        
                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
        
                            <li class="subheader">
                                <span>MENU</span>
                            </li>
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                    <a class="nav-link ripple"  href="/home" aria-expanded="false" aria-controls="collapse-coordination">
            
                                        <i class="icon s-4 icon-home"></i>
            
                                        <span>Home</span>
                                    </a>
                            </li>
        
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
        
                                    <i class="icon s-4 icon-clock"></i>
        
                                    <span>Administración</span>
                                </a>
                                <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
    
        
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                            
                                            <i class="icon s-4 icon-chevron-double-left"></i>
                                            <span>Cargar test</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/create_groups" data-url="index.html">
        
                                        <i class="icon s-4 icon-code-tags"></i>
        
                                        <span>Grupos</span>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple active" href="/create_class" data-url="index.html">
            
                                            <i class="icon s-4 icon-chevron-double-right"></i>
            
                                            <span>Crear clase</span>
                                        </a>
                                    </li>
                                    <!--
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/team_admin" data-url="index.html">
            
                                            <i class="icon s-4 icon-grid-large"></i>
            
                                            <span>Administrar Equipos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/invite" data-url="index.html">
            
                                            <i class="icon s-4 icon-person-plus"></i>
            
                                            <span>Invitar alumno</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/class_results" data-url="index.html">
            
                                            <i class="icon s-4 icon-chart-areaspline"></i>
            
                                            <span>Resultados de clase</span>
                                        </a>
                                        </li>-->
                       
                            </ul>
                            <li class="nav-item" style="position: absolute; bottom: 10px;">
                                    <a class="nav-link ripple " href="/logout" data-url="index.html">
    
                                    <i class="icon s-4 icon-logout"></i>
    
                                    <span>Cerrar sesión</span>
                                </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </aside>


            <!-- Barra de navegación -->

            <div  style="width: 100%;" class="content-wrapper">
                    <div class="content custom-scrollbar">
    
                        <div id="project-dashboard" class="page-layout simple right-sidebar">
    
                            <div class="page-content-wrapper custom-scrollbar">
    
                                <!-- HEADER -->
                                <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    
                                    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
    
                                        <div>
                                            <span class="h2">Bienvenido a CTO Live Quiz {{ user_name }}</span>
                                            
                                        </div>
    
                                    </div>
    
    
                                </div>
                                <form style="margin-top:2%; " method="POST">
                                        <div class="row">
                                            <div class="col-3" >
    
                                            </div>
                                            <div class="col-6" style="background-color:ghostwhite; box-shadow: 2px 2px 10px #666;">
                                                <div class="col-12">
                                                        <div class="form-group">
                                                                <label for="group-selector"><h4 style="color:black;">Grupo:</h4> </label>
                                                                <select class="form-control" id="group-selector" name="group-selector">
                                                                    <option value="" selected disabled hidden>- Seleccione un grupo -</option>
                                                                    {% for group in groups_list %}
                                                                    <option value="{{ group["id"] }}">{{ group["name"] }}</option>
                                                                    {% endfor %}
                                                                
                                                                </select>
    
    
                                                        </div>
    
                                                </div>
                                                
                                                <div class="col-12">
                                                                    <div class="form-group">
                                                                    <label for="subject-selector"><h4 style="color:black;">Materia:</h4> </label>
                                                                    <select class="form-control" id="subject-selector" name="subject-selector">
                                                                        <option value="" selected disabled hidden>- Seleccione una materia -</option>
                                                                        {% for subject in subject_list %}
                                                                            <option value="{{ subject["id"] }}">{{ subject["name"] }}</option>
                                                                        {% endfor %}
                                                                    
                                                                    </select>
        
        
                                                            </div>
    
                                                </div>
                                                <div class="col-12" >
                                                        <div class="form-group" >
                                                                <input type="text" class="form-control" name="professor_name" id="input-professor-name" aria-describedby="professor-name-help"
                                                                       placeholder="Ingrese el nombre del profesor." required>
                                                                <label for="exampleInputEmail1"><h4>Profesor:</h4></label>
                                                                <small id="professor-name-help" class="form-text text-muted">Es el profesor que impartirá la clase.
                                                                </small>
                                                            </div>
                                                </div>  
                                                <div class="col-12">
                                                        <div class="form-group">
                                                                <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                                       placeholder="Ingrese el email del profesor." required>
                                                                <label for="exampleInputEmail1"><h4>Dirección de correo:</h4></label>
                                                                <small id="emailHelp" class="form-text text-muted">La información está segura con nosotros
                                                                </small>
                                                            </div>
                                                </div>  
                                                <div col="col-12" style="margin-left:10px; width:95%;">
                                                        <div class="form-group">
                                                                <input class="form-control" type="date" name="date-input" value="2018-06-19" id="date-input"/>
                                                                <label for="date-input"><h4 style="color:black;">Fecha de clase:</h4></label>
                                                            </div>
                                                </div>
                                                <div col="col-12">
                                                        <button style="width:100%;  margin-bottom:5%;"type="submit" class="btn btn-secondary">Crear Clase</button>
                                                </div>
                                                
    
                                            </div>
                                            <div class="col-3" >
    
                                            </div>
    
    
                                        </div>
                                    </form>  
    
    
                </div>
               </div>

           
        
        </div>
    </div>
</div>
</main>
</body>

{% endblock %}