{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>
<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">

                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                    <i class="icon icon-menu"></i>
                </button>

                    <div class="toolbar-separator d-block d-lg-none"></div>
                
   
                <div class="toolbar-separator"></div>

                <div id="navbar_logo">
                    <img  src="../static/assets/images/logos/icon-sidebar.png">  CTO Live Quiz</div>
                </div>
            </div>
        </div>

    
</nav>

<div id="wrapper">


        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div  class="aside-content-wrapper" >
        
                    <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
        
                        <div class="aside-toolbar">
        
                            <div class="logo">
                                <img src="../static/assets/images/logos/icon-sidebar.png"/>
                                <span class="logo-text">CTO Live Quiz</span>
                            </div>
        
                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>
        
                        </div>
        
                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
        
                            <li class="subheader">
                                <span>MENU</span>
                            </li>
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                    <a class="nav-link ripple"  href="/home_admin" aria-expanded="false" aria-controls="collapse-coordination">
            
                                        <i class="icon s-4 icon-home"></i>
            
                                        <span>Home</span>
                                    </a>
                            </li>
        
                        

                        
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-test" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
            
                                        <i class="icon s-4 icon-clock"></i>
            
                                        <span>Test</span>
                                    </a>
                                    </li>
                                    <ul id="collapse-test" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
        
            
                                        <li class="nav-item">
                                            <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                                
                                                <i class="icon s-4 icon-chevron-double-left"></i>
                                                <span>Cargar test</span>
                                            </a>
                                        </li>
                                </ul>
                                <li class="nav-item" role="tab" id="heading-coordination">
        
                                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-classes" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
                
                                            <i class="icon s-4 icon-clock"></i>
                
                                            <span>Clases</span>
                                        </a>
                                        </li>
                                        <ul id="collapse-classes" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
            
                
                                            <li class="nav-item">
                                                <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                                    
                                                    <i class="icon s-4 icon-chevron-double-left"></i>
                                                    <span>Nueva clase</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                                    
                                                    <i class="icon s-4 icon-chevron-double-left"></i>
                                                    <span>Administrar clases</span>
                                                </a>
                                            </li>
                                    </ul>
                                    <li class="nav-item" role="tab" id="heading-coordination">
        
                                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-groups" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
                    
                                                <i class="icon s-4 icon-clock"></i>
                    
                                                <span>Grupos</span>
                                            </a>
                                            </li>
                                            <ul id="collapse-groups" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
                
                    
                                                <li class="nav-item">
                                                    <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                                        
                                                        <i class="icon s-4 icon-chevron-double-left"></i>
                                                        <span>Nuevo grupo </span>
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link ripple " href="/load_tests" data-url="index.html">
                                                        
                                                        <i class="icon s-4 icon-chevron-double-left"></i>
                                                        <span>Administrar grupos</span>
                                                    </a>
                                                </li>
                                        </ul>
                                
                            <li class="nav-item" style="position: absolute; bottom: 10px;">
                                    <a class="nav-link ripple " href="/logout" data-url="index.html">
    
                                    <i class="icon s-4 icon-logout"></i>
    
                                    <span>Cerrar sesión</span>
                                </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </aside>


            <!-- Barra de navegación -->

            <div  style="width: 100%;" class="content-wrapper">
                    <div class="content custom-scrollbar">
    
                        <div id="project-dashboard" class="page-layout simple right-sidebar">
    
                            <div class="page-content-wrapper custom-scrollbar">
    
                                <!-- HEADER -->
                                <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    
                                    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
    
                                        <div>
                                            <span class="h2">Bienvenido a CTO Live Quiz {{ user_name }}</span>
                                            
                                        </div>
    
                                    </div>
    
    
                                </div>
                                <form style="margin-top:2%;" method="POST">
                                    
                                </form>  
    
    
                </div>
               </div>

           
        
        </div>
    </div>
</div>

</main>
</body>

{% endblock %}