<div class="row">
    <div class="col"></div>
    <div class="col-lg-5 col-sm-11">
        <div class="form-group">
            <form action="#" method="post">
            <label for="sel1">Selecciona la especialidad para la que aplicaste:</label>
            <select name="especialidades" class="select-picker form-control" id="sel1" placeholder="Selecciona una" data-style="btn-info">
            <option selected disabled ><span style="color:lightgray!important;">Especialidades</span></option>
            <option>Anatomía Patológica</option>
            <option>Anestesiología</option>
            </select>
        
            <label for="example-number-input" class="col col-form-label">Ingresa tu puntaje:</label>
            <input class="form-control" type="number" placeholder="Ejemplo 54.321" id="number_input" name="number_input" step="0.001" />
            <input type="submit" style="margin-top: 15px; width: 100%;" class="btn btn-primary" name="submit" value="Calcular" />
            </form>
        </div>
    </div>
    <div class="col"></div>
</div>