{% extends "base.html" %} {% block body %}

<body class="layout layout-vertical layout-left-navigation layout-above-toolbar custom-scrollbar">

    
    <main>
            


        <div id="wrapper">

            <!-- Barra de navegación -->
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div class="aside-content-wrapper">

                    <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">

                        <div class="aside-toolbar">

                            <div class="logo">
                                <img src="../static/assets/images/logos/icon-sidebar.png" />
                                <span class="logo-text">CTO Live Quiz</span>
                            </div>

                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>

                        </div>

                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">

                            <li class="subheader">
                                <span>MENU</span>
                            </li>
                            <li class="nav-item" role="tab" id="heading-coordination">

                                <a class="nav-link ripple" href="/class_selector" aria-expanded="false" aria-controls="collapse-coordination">

                                    <i class="icon s-4 icon-home"></i>

                                    <span>Selector de clase</span>
                                </a>
                            </li>

                            <li class="nav-item" role="tab" id="heading-coordination">

                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html"
                                    aria-expanded="false" aria-controls="collapse-coordination">

                                    <i class="icon s-4 icon-clock"></i>

                                    <span>Clase actual</span>
                                </a>
                                <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">


                                    <li class="nav-item">
                                        <a class="nav-link ripple" href="/pretest" data-url="index.html">

                                            <i class="icon s-4 icon-chevron-double-left"></i>
                                            <span>Pre-Test</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple active" href="/livetest" data-url="index.html">

                                            <i class="icon s-4 icon-code-tags"></i>

                                            <span>Live-Quiz</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/posttest" data-url="index.html">

                                            <i class="icon s-4 icon-chevron-double-right"></i>

                                            <span>Post-Test</span>
                                        </a>
                                    </li>
                                    <!--
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/team_admin" data-url="index.html">

                                            <i class="icon s-4 icon-grid-large"></i>

                                            <span>Administrar Equipos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/invite" data-url="index.html">

                                            <i class="icon s-4 icon-person-plus"></i>

                                            <span>Invitar alumno</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/class_results" data-url="index.html">

                                            <i class="icon s-4 icon-chart-areaspline"></i>

                                            <span>Resultados de clase</span>
                                        </a>
                                    </li>-->

                                </ul>
                                <li class="nav-item" style="position: absolute; bottom: 10px;">
                                    <a class="nav-link ripple " href="/login" data-url="index.html">

                                        <i class="icon s-4 icon-logout"></i>

                                        <span>Cerrar sesión</span>
                                    </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </aside>
            <!-- Barra de navegación -->


            <div class="content-wrapper custom-scrollbar">
                <nav id="toolbar" class="bg-white">
                    <div class="row no-gutters align-items-center flex-nowrap">
                        <div class="col">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                    <i class="icon icon-menu"></i>
                                </button>
                                <div class="toolbar-separator d-block d-lg-none"></div>
                                <div class="toolbar-separator"></div>
                                <div id="navbar_logo">
                                    <img src="../static/assets/images/logos/icon-sidebar.png"> CTO Live Quiz</div>
                            </div>
                        </div>
                    </div>

                </nav>
                <div class="content custom-scrollbar" style="background-color:silver;">
                    <div id="project-dashboard" class="page-layout simple right-sidebar">
                        <div class="page-content-wrapper custom-scrollbar">
                            <!-- HEADER -->
                            <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
                                <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
                                    <div>
                                        <span class="h2">{{page_name}}</span>
                                        <!-- {{ class_info["class_name"] }} -->
                                    </div>
                                </div>
                            </div>
                                            <!-- Aquí va el código!!-->
                                            
                                                
                                                        <div style="height:100%; padding-left: 15px; padding-right:15px; padding-top:10px; padding-bottom:10px;" class="page-content-wrapper">
                                                           
                                                            
                                                                {% for question in json_cards %}
                                                                {% if((loop.index-1) %3 == 0) or (loop.index == 1)%} 
                                                                
                                                                    <form role="form">
                                                                    <div class="card-deck" style="margin-bottom: 15px;">                                   
                                                                {% endif %}
                                                                    <div class="card" style=" text-align: justify; text-justify: inter-word; border-radius: 10px; box-shadow: 5px 5px 5px grey;" >
                                                                    <div class="card-header text-center">
                                                                        Pregunta {{ loop.index }}
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <p style="font-size:17px;" class="card-title"> {{ question["question"] }}</p>   
                                                                    </div>
                                                                    <div class="card-footer text-muted text-center">
                                                                        <button type="button" style="border-radius: 5px;" class="btn btn-outline-secondary" data-toggle="modal" data-target="#myModal{{loop.index}}" onclick="send_question_ajax({{question['id']}},{{loop.index}});">Enviar pregunta</button>
                                                                        <!--<a href="#" class="btn btn-outline-secondary">Enviar pregunta</a>-->
                                                                    </div>
                            
                            
                                                                    
                                                                    </div>  
                            
                            
                                                                {% if ((loop.index)%3 == 0) %}
                                                                
                                                                    </div>
                                                                    {% set flag_card = True %}
                            
                                                                {% endif %}
                                                                </form>
                                                                {% endfor %}
                            
                            
                                                                
                            
                            
                            
                                                            </div>
                            
                                                            
                            
                            
                            
                            
                                                        
                                                

                                             <!-- Aquí va el código!!-->

                        </div>
                    </div>
                </div>


                </div>
                {% for question in json_cards %}
                                                                
                <!-- Modal -->
                <div class="modal fade" id="myModal{{loop.index}}" tabindex="-1"  role="dialog" aria-labelledby="myModalLabel" >
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content" style="border-radius: 15px !important;">
                        <div class="modal-header" style="text-align: justify; text-justify: inter-word;">
                
                          <h4 class="modal-title" id="myModalLabel"><b>{{ question["question"] }}</b></h4>
                        </div>

                    <div class="modal-body" style="font-size:20px;">
                        <div id="answers">
                            <div class="row">
                                    <!-- <div class="col-4">
                                            <div id="chart{{loop.index}}" >
                                                <svg></svg>
                                            </div>
                                    </div> -->
                                <div class="col">
                                        <div class="row">
                                                <!-- <div class="col-lg-1 col-sm-2" style="text-align: center;">
                                                    <span class="answer_a">0</span>%  
                                                </div> -->
                                                <div class="col" style="text-align: justify; text-justify: inter-word;">
                                                    <p>A) {{ question["answers"][0]["answer"] }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                    <!-- <div class="col-lg-1 col-sm-2" class="align-middle" style="text-align: center;">
                                                        <span class="answer_b">0</span>%
                                                    </div> -->
                                                    <div class="col" style="text-align: justify; text-justify: inter-word;">
                                                        <p>B) {{ question["answers"][1]["answer"] }}</p>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <!-- <div class="col-lg-1 col-sm-2" style="text-align: center;">
                                                        <span class="answer_c">0</span>%
                                                    </div> -->
                                                    <div class="col" style="text-align: justify; text-justify: inter-word;">
                                                        <p>C) {{ question["answers"][2]["answer"] }}</p>
                                                    </div>
                                            </div>
                                            <div class="row">
                                                    <!-- <div class="col-lg-1 col-sm-2" style="text-align: center;">
                                                        <span class="answer_d">0</span>%
                                                    </div> -->
                                                    <div class="col" style="text-align: justify; text-justify: inter-word;">
                                                        <p>D) {{ question["answers"][3]["answer"] }}</p>
                                                    </div>
                                            </div>
                                </div>

                            </div>

                    </div>
                    </div>
                        

                        <div class="modal-footer">
                            <div class="row">
                                <!-- <div class="col" >
                                        <button type="button" style="border-radius: 5px; width: 100%;"class="btn btn-outline-primary" onclick="get_realtime_results({{question['id']}});"> Ver resultados </button>
                                </div> -->

                                <div class="col">
                                    <button type="button" style="border-radius: 5px;  width: 100%;" class="btn btn-outline-info" onclick="pause_time({{question['id']}})">Pausar tiempo</button>
                                </div>
                                <div class="col">
                                    <button type="button" style="border-radius: 5px;  width: 100%;" class="btn btn-outline-secondary" onclick="restart_time({{question['id']}})">Reiniciar tiempo</button>
                                </div>
                                <div class="col" >
                                        <button type="button" style="border-radius: 5px;  width: 100%;"class="btn btn-outline-danger" data-dismiss="modal">Cerrar pregunta</button>
                                </div>
                            </div>
                          
                          
                        </div>
                      </div>
                    </div>
                    
                  </div>
                                                   
                {% endfor %}
                <!-- Aquí va el código!!-->
            </div>


            <script>
                
                var correct = 0
                var incorrect = 0

                nv.addGraph(function() {
                            var chart = nv.models.pieChart()
                        .x(function(d) { return d.label })
                        .y(function(d) { return d.value })
                        .showLabels(true);
                    chart.color(["#00FF00","#FF0000"])
                    d3.select("#chart2 svg")
                        .datum(exampleData(correct,incorrect))
                        .transition().duration(350)
                        .call(chart);
                
                    return chart;
                });
                function exampleData(correct,incorrect) {
                console.log(correct,incorrect)
                    return  [
                        { 
                        "label": "Correctos",
                        "value" : 44
                        } , 
                        { 
                        "label": "Incorrectos",
                        "value" : 56
                        }
                    ];
                }
        //Donut chart example
        // nv.addGraph(function() {
        //     var chart = nv.models.pieChart()
        //         .x(function(d) { return d.label })
        //         .y(function(d) { return d.value })
        //         .showLabels(true)     //Display pie labels
        //         .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
        //         .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
        //         .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
        //         .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
        //         ;
        
        //     d3.select("#chart2 svg")
        //         .datum(exampleData())
        //         .transition().duration(350)
        //         .call(chart);
        
        //     return chart;
        // });
        
        //Pie chart example data. Note how there is only a single array of key-value pairs.

                
                function get_realtime_results(question_id){
                    $.ajax({
                        url:'/get_question_results/',
                        type: 'POST',
                        dataType: 'json',
                        data:{question_id},
                        success:function(response){
                            var answers_panel = document.getElementById('answers');
                            var answer_a_span = answers_panel.querySelector('.answer_a');
                            var answer_b_span = answers_panel.querySelector('.answer_b');
                            var answer_c_span = answers_panel.querySelector('.answer_c');
                            var answer_d_span = answers_panel.querySelector('.answer_d');
                            var answer_a = response['data']['answers'][0]
                            var answer_b = response['data']['answers'][1]
                            var answer_c = response['data']['answers'][2]
                            var answer_d = response['data']['answers'][3]
                            // var answer_a_id = response['data']['answers'][0]['id']
                            // var answer_b_id = response['data']['answers'][1]['id']
                            // var answer_c_id = response['data']['answers'][2]['id']
                            // var answer_d_id = response['data']['answers'][3]['id']
                            var correct_answer_id = response['data']['correct_answer']
                            // var answer_a_data = response['data']['answers'][0]['percent'];
                            // var answer_b_data = response['data']['answers'][1]['percent'];
                            // var answer_c_data = response['data']['answers'][2]['percent'];
                            // var answer_d_data = response['data']['answers'][3]['percent'];
                            
                            $('.answer_a').text(Math.round(answer_a['percent']*1000)/10);
                            $('.answer_b').text(Math.round(answer_b['percent']*1000)/10);
                            $('.answer_c').text(Math.round(answer_c['percent']*1000)/10);
                            $('.answer_d').text(Math.round(answer_d['percent']*1000)/10);



                            //De la respuesta obtenida, compara el id de la respuesta con el id de la respuesta correcta, de coincidir, retorna 
                            // el porcentaje para hacer el cálculo y mandar llamar la gráfica.
                            function correct_percentage(){
                                if (answer_a['id'] == correct_answer_id){
                                    return answer_a['percent']
                                } else if (answer_b['id'] == correct_answer_id){
                                    return answer_b['percent']
                                } else if (answer_c['id'] == correct_answer_id){
                                    return answer_c['percent']
                                } else if (answer_d['id'] == correct_answer_id){
                                    return answer_d['percent']
                                } else {
                                    return 0
                                }
                            }

                            correct = correct_percentage()
                            console.log(correct);
                            incorrect = 1-correct;
                            console.log(incorrect);
                            


                            
                        // console.log(response);
                        // console.log(answer_a + 'Answer_a');
                        //console.log(response['data']['answers'][0]['percent']);
                        //console.log(response['data']['answers'][1]['percent']);
                        //console.log(response['data']['answers'][2]['percent']);
                        //console.log(response['data']['answers'][3]['percent']);
                        //console.log(response['data']['students_who_have_answered']);



                        }

                    })
                }

                function pause_time(question_id){
                
                $.ajax({
                    url:'/pause_question_timer/',
                    type: 'POST',
                    dataType: 'json',
                    data:{question_id},
                    success:function(response){
                        console.log(response);
                    }

                })
                    

                }
                function restart_time(question_id){
                
                $.ajax({
                    url:'/restart_question_timer/',
                    type: 'POST',
                    dataType: 'json',
                    data:{question_id},
                    success:function(response){
                        console.log(response);
                    }

                })
                    

                }
                
            function send_question_ajax(question_id,loop_index){
                
                $.ajax({
                    url:'/send_question_ajax/',
                    type: 'POST',
                    dataType: 'json',
                    data:{question_id},
                    success:function(response){
                        console.log(response);
                    }

                })
                $('.answer_a').text(0);
                $('.answer_b').text(0);
                $('.answer_c').text(0);
                $('.answer_d').text(0);
                
            }



                    //Regular pie chart example
            </script>   
    </main>
</body>

{% endblock %}