{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar">
    <main>
<nav id="toolbar" class="bg-white">

    <div class="row no-gutters align-items-center flex-nowrap">

        <div class="col">

            <div class="row no-gutters align-items-center flex-nowrap">

                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                    <i class="icon icon-menu"></i>
                </button>

                <div class="toolbar-separator d-block d-lg-none"></div>
                
   
                <div class="toolbar-separator"></div>

                <div id="navbar_logo">
                    <img  src="../static/assets/images/logos/icon-sidebar.png">  CTO Live Quiz</div>
                </div>
            </div>
        </div>

    
</nav>

<div id="wrapper">


        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
                <div  class="aside-content-wrapper" >
        
                    <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
        
                        <div class="aside-toolbar">
        
                            <div class="logo">
                                <img src="../static/assets/images/logos/icon-sidebar.png"/>
                                <span class="logo-text">CTO Live Quiz</span>
                            </div>
        
                            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                                <i class="icon icon-backburger"></i>
                            </button>
        
                        </div>
        
                        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
        
                            <li class="subheader">
                                <span>MENU</span>
                            </li>
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                    <a class="nav-link ripple"  href="/home_admin" aria-expanded="false" aria-controls="collapse-coordination">
            
                                        <i class="icon s-4 icon-home"></i>
            
                                        <span>Home</span>
                                    </a>
                            </li>
        
                            <li class="nav-item" role="tab" id="heading-coordination">
        
                                <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
        
                                    <i class="icon s-4 icon-clock"></i>
        
                                    <span>Administración</span>
                                </a>
                                <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">
    
        
                                    <li class="nav-item">
                                        <a class="nav-link ripple active" href="/load_test" data-url="index.html">
                                            
                                            <i class="icon s-4 icon-chevron-double-left"></i>
                                            <span>Cargar test</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link ripple " href="/create_groups" data-url="index.html">
        
                                        <i class="icon s-4 icon-code-tags"></i>
        
                                        <span>Grupos</span>
                                    </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/create_class" data-url="index.html">
            
                                            <i class="icon s-4 icon-chevron-double-right"></i>
            
                                            <span>Crear clase</span>
                                        </a>
                                    </li>
                                    <!--
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/team_admin" data-url="index.html">
            
                                            <i class="icon s-4 icon-grid-large"></i>
            
                                            <span>Administrar Equipos</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/invite" data-url="index.html">
            
                                            <i class="icon s-4 icon-person-plus"></i>
            
                                            <span>Invitar alumno</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link ripple " href="/class_results" data-url="index.html">
            
                                            <i class="icon s-4 icon-chart-areaspline"></i>
            
                                            <span>Resultados de clase</span>
                                        </a>
                                        </li>-->
                       
                            </ul>
                            <li class="nav-item" style="position: absolute; bottom: 10px;">
                                    <a class="nav-link ripple " href="/logout" data-url="index.html">
    
                                    <i class="icon s-4 icon-logout"></i>
    
                                    <span>Cerrar sesión</span>
                                </a>
                                </li>
                        </ul>
                    </div>
                </div>
            </aside>


            <!-- Barra de navegación -->

            <div  style="width: 100%;" class="content-wrapper">
                    <div class="content custom-scrollbar">
    
                        <div id="project-dashboard" class="page-layout simple right-sidebar">
    
                            <div class="page-content-wrapper custom-scrollbar">
    
                                <!-- HEADER -->
                                <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    
                                    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
    
                                        <div>
                                            <span class="h2">Bienvenido a CTO Live Quiz {{ user_name }}</span>
                                            
                                        </div>
    
                                    </div>
    
    
                                </div>

                                <div id="principal-container" class="custom-scrollbar">
                                    <form style="width:98.75%;" method="POST" enctype="multipart/form-data">
                                        <div class="row" style="margin-bottom:25px;">
                                            <div class="col-3"></div>
                                            <div class="col-6">
                                                <div class="form-group" style="align-content: center; margin-top:40px;">
                                                        <label for="subject_input"><h2>Seleccione una materia:</h2></label>
                                                        <select class="form-control" name="subject_input" id="subject_input">
                                                            <option value="0">Seleccione Materia</option>
                                                            {% for subject in subject_list %}
                                                                        <option value="{{ subject['id'] }}">{{ subject["name"] }}</option>
                                                            {% endfor %}
                                                            
                                                        </select>
                                                </div>
                                                <div class="form-group" style="align-content: center; margin-top:40px;">
                                                        <label for="type_examen_input"><h2>Seleccione tipo de examen:</h2></label>
                                                        <select class="form-control" name="type_examen_input" id="type_examen_input">
                                                            <option value="0">Seleccione tipo de examen</option>
                                                            <option value="1">Live Test</option>
                                                            <option value="2">Pre Test</option>
                                                            <option value="3">Post Test</option>
                                                        </select>
                                                </div>
                                                <div class="form-group">
                                                    <input type="file" name="file" id="file" class="form-control" multiple onchange="validate_files()" required oninvalid="this.setCustomValidity('Por favor seleccione 3 archivos.')" placeholder="Seleccione los 3 test para la materia" oninput="setCustomValidity('')" /> 
                                                </div> 
                                                <div class="form-group">
                                                    <button class = "btn btn-secondary" type="submit">Subir</button>
                                                </div>   
                                            </div>
                                            <div class="col-3" ></div>

                                        </div>

                                        <!-- <div class="row">
                                            <div class="col-4" >
                                                <div class="col-12" style="margin-bottom:15px; text-align:center;">
                                                    <span style="font-family: 'Roboto';font-size: 35px;">Pre-Test</span>
                                                </div>
                                                <div class="col-12" >
                                                        <div class="form-group" >
                                                                <label for="file-pretest" class="file-uploader" style="width:107.5%;">
                                                                    <i class="icon-upload"></i>Seleccione un archivo
                                                                </label>  
                                                                    <input type="file" name="file-pretest" id="file-pretest" class="form-control" style="display:none;" /> 
                                                                  
                                                            </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <button style="width:100%;  margin-bottom:5%; margin-top:-5%;"type="submit" class="btn btn-secondary">Subir</button>
                                                    </div>
                                            </div>
                                            <div class="col-4">
                                                    <div class="col-12" style="margin-bottom:15px; text-align:center;">
                                                            <span style="font-family: 'Roboto';font-size: 35px;">Live-Test</span>
                                                        </div>
                                                <div class="col-12">
                                                        <div class="form-group" >
                                                                <label for="file-livetest" class="file-uploader" style="width:107.5%;">
                                                                    <i class="icon-upload"></i>Seleccione un archivo
                                                                </label>  
                                                                    <input type="file" name="file-livetest" id="file-livetest" class="form-control" style="display:none;" /> 
                                                                  
                                                            </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <button style="width:100%;  margin-bottom:5%; margin-top:-5%;"type="submit" class="btn btn-secondary">Subir</button>
                                                    </div>
                                            </div>
                                            <div class="col-4">
                                                    <div class="col-12" style="margin-bottom:15px; text-align:center;">
                                                            <span style="font-family: 'Roboto';font-size: 35px;">Post-Test</span>
                                                        </div>
                                                <div class="col-12">
                                                        <div class="form-group" >
                                                                <label for="file-posttest" class="file-uploader" style="width:107.5%;">
                                                                    <i class="icon-upload"></i>Seleccione un archivo
                                                                </label>  
                                                                    <input type="file" name="file-posttest" id="file-posttest" class="form-control" style="display:none;" /> 
                                                                  
                                                            </div>
                                                    </div>
                                                    <div class="col-12">
                                                            <button style="width:100%;  margin-bottom:5%; margin-top:-5%;"type="submit" class="btn btn-secondary">Subir</button>
                                                    </div>
                                            </div>

                                        </div> -->


                                    </form>
                                </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if message %}
<script>
    var response  = '{{ message }}'
    if (response == 'success'){
        swal({
            title:"Carga exitosa",
            text:"Ahora los tests se encuentran en línea.",
            icon:"success",
            button:"Cerrar"
        })
    } else if (response == 'failed'){

    } else {

    }
</script>

{% endif %}
<script src="../static/assets/js/dropzone.js"></script>
<script>
    function validate_files(){
        var file = document.getElementById("file")
        /*if (file.files.length != 3){
            if (file.files.length == 1){
                swal({
                title:"Error",
                text:"Se requieren 3 archivos, solo fue ingresado "+file.files.length+".",
                icon:"error",
                button:"Regresar"
            })
            }
            else {
                swal({
                title:"Error",
                text:"Se requieren 3 archivos y fueron ingresados "+file.files.length,
                icon:"error",
                button:"Regresar"
            })
            }
        }*/
    }


</script>

</main>
</body>

{% endblock %}