{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar custom-scrollbar">

    
    <main>
        <div id="wrapper">
           <div class="content-wrapper" >
                <div class="content custom-scrollbar">

                    <div id="login-v2" class="row no-gutters">

                        <div class="intro col-12 col-md light-fg">

                            <div class="d-flex flex-column align-items-center align-items-md-start text-center text-md-left py-16 py-md-32 px-12">

                                <div class="mb-8">
                                    <span><img src="../static/assets/images/logos/logo-login.png"></span>
                                </div>

                                <div class="title">
                                    <p style="color: #4F4F4F;">Bienvenido a la plataforma de administración para CTO Live Quiz.</p>
                                </div>

                                <!--<div class="description pt-2">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.
                                </div>-->

                            </div>
                        </div>

                        <div class="form-wrapper col-12 col-md-auto d-flex justify-content-center p-4 p-md-0">

                            <div class="form-content md-elevation-8 h-100 bg-white text-auto py-16 py-md-32 px-12">

                                <div  style="margin-top:50%" class="title h5">Inicia sesión con tu cuenta.</div>

                                <!--<div class="description mt-2">Sed mollis velit facilisis facilisis viverra</div>-->
                            {% from "_macro.html" import render_field %}
                                <form name="loginForm" class="mt-8" method="POST">

                                    <div class="form-group mb-4">
                                        {{ render_field(form.email, class = "form-control")}}
                                        <label for="loginFormInputEmail">Correo electrónico</label>
                                        
                                    </div>
                                    <div class="form-group mb-4">
                                        
                                            <p> {{message}}</p>
                                        

                                    </div>
                                    <!--
                                    <div class="form-group mb-4">
                                        <input type="password" class="form-control" id="loginFormInputPassword" placeholder="Password" />
                                        <label for="loginFormInputPassword">Contraseña</label>
                                    </div>
                                -->
                                    <div class="remember-forgot-password row no-gutters align-items-center justify-content-between pt-4">

                                        <div class="form-check remember-me mb-4">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" aria-label="Remember Me" />
                                                <span class="checkbox-icon"></span>
                                                <span class="form-check-description">Recuérdame.</span>
                                            </label>
                                        </div>

                                        <a href="#" class="forgot-password text-secondary">¿Olvidaste tu contraseña?</a>

                                    </div>
                                        <!-- a class="submit-button btn btn-block btn-secondary my-4 mx-auto" aria-label="LOG IN" href="/home">Inicia sesión</a -->
                                        <button type="submit" class="submit-button btn btn-block btn-secondary my-4 mx-auto">Inicia sesi&oacute;n</button>

                                </form>

                                <!--<div class="separator">
                                    <span class="text">OR</span>
                                </div>

                                <button type="submit" class="google btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
                                    <span>
                                        <i class="icon-google-plus s-4"></i>
                                        <span>Log in with Google</span>
                                    </span>
                                </button>

                                <button type="submit" class="facebook btn btn-block btn-secondary my-2 mx-auto" aria-label="LOG IN">
                                    <span>
                                        <i class="icon-facebook s-4"></i>
                                        <span>Log in with Facebook</span>
                                    </span>
                                </button>-->

                                <div class="register d-flex flex-column flex-sm-row align-items-center justify-content-center mt-8 mb-6 mx-auto">
                                    <span class="text mr-sm-2">¿Olvidaste tu contraseña?</span>
                                    <!--<a class="link text-secondary" href="pages-auth-register-v2.html">Click aquí</a>-->
                                     <a href="/login" class="forgot-password text-secondary">Click aquí</a>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </main>
</body>
        {% endblock %}
