{% block nav_bar%}
<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
        <div  class="aside-content-wrapper">

            <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">

                <div class="aside-toolbar">

                    <div class="logo">
                        <img src="../static/assets/images/logos/icon-sidebar.png"/>
                        <span class="logo-text">CTO Live Quiz</span>
                    </div>

                    <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                        <i class="icon icon-backburger"></i>
                    </button>

                </div>

                <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                    <li class="subheader">
                        <span>MENU</span>
                    </li>

                    <li class="nav-item" role="tab" id="heading-coordination">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">

                            <i class="icon s-4 icon-people"></i>

                            <span>Coordinación</span>
                        </a>
                        <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">

                            <li class="nav-item">
                                <a class="nav-link ripple" href="/submit-test" data-url="index.html">
                                    
                                    
                                    <i class="icon s-4 icon-folder-upload"></i>
                                    <span>Subir test</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="submit-students" data-url="index.html">
                                    
                                    <i class="icon s-4 icon-file-chart"></i>
                                    <span>Subir lista de alumnos</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="index.html">
                                    
                                    <i class="icon s-4 icon-chart-areaspline"></i>
                                    <span>Resultados</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-calendar.html" data-url="index.html">

                                <i class="icon s-4 icon-calendar-today"></i>

                                <span>Preparar sesiones</span>
                            </a>
                            </li>
                                <li class="nav-item">
                                <a class="nav-link ripple " href="#" data-url="index.html">
                                    
                                    <i class="icon s-4 icon-file-chart"></i>
                                    <span>Generar reporte</span>
                                    <ul>
                                        <li class="nav-item">
                                            <a class="nav-link ripple" href="/reports-subject">
                                            <span>Reporte Materia</span>
                                            </a>
                                        </li>
                                    </ul>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li class="nav-item" role="tab" id="heading-proffessors">

                        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-proffessors" href="" aria-expanded="false" aria-controls="collapse-proffessors">

                            <i class="icon s-4 icon-people"></i>

                            <span>Profesorado</span>
                        </a>
                        <ul id="collapse-proffessors" class='collapse show' role="tabpanel" aria-labelledby="heading-proffessors" data-children=".nav-item">

                            <li class="nav-item">
                                <a class="nav-link ripple" href="" data-url="index.html">
                                    
                                    
                                    <i class="icon s-4 icon-chart-areaspline"></i>
                                    <span>Ver resultados</span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link ripple " href="apps-dashboards-server.html" data-url="index.html">
                                    
                                    <i class="icon s-4 icon-file-chart"></i>
                                    <span>Generar reporte</span>
                                </a>
                            </li>


                        </ul>
                    </li>
                    
                                <li class="nav-item">
                                <a class="nav-link ripple " href="/login" data-url="index.html">

                                <i class="icon s-4 icon-logout"></i>

                                <span>Cerrar sesión</span>
                            </a>
                            </li>
               
                    </ul>
            </div>
        </div>
    </aside>


{% endblock %}