{% extends "base.html" %}
{% block body %}
<body class="layout layout-vertical layout-left-navigation layout-above-toolbar" >
    <main>

<style>
        
        h1{
          color: #012d50;
          font-weight: 100;
          font-size: 40px;
          margin: 40px 0px 20px;
        }
        
        #clockdiv{
            font-family: sans-serif;
            color: #fff;
            display: inline-block;
            font-weight: 100;
            text-align: center;
            font-size: 30px;
            height: 20%;
            width: 100%;
        }
        
        #clockdiv > div{
            padding: 10px;
            border-radius: 3px;
            background: #008FFB;
            display: inline-block;
        }
        
        #clockdiv div > span{
            padding: 15px;
            border-radius: 3px;
            background: #0060b7;
            display: inline-block;
        }
        
        .smalltext{
            padding-top: 5px;
            font-size: 16px;
        }

    </style>
    <div id="wrapper">


        <!-- Barra de navegación -->
        <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
            <div  class="aside-content-wrapper" >
    
                <div style="margin-top:auto; " class="aside-content bg-primary-700 text-auto">
    
                    <div class="aside-toolbar">
    
                        <div class="logo">
                            <img src="../static/assets/images/logos/icon-sidebar.png"/>
                            <span class="logo-text">CTO Live Quiz</span>
                        </div>
    
                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                            <i class="icon icon-backburger"></i>
                        </button>
    
                    </div>
    
                    <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item" style="height:100%">
    
                        <li class="subheader">
                            <span>MENU</span>
                        </li>
                        <li class="nav-item" role="tab" id="heading-coordination">
        
                            <a class="nav-link ripple"  href="/class_selector" aria-expanded="false" aria-controls="collapse-coordination">
    
                                <i class="icon s-4 icon-home"></i>
    
                                <span>Selector de clase</span>
                            </a>
                    </li>    
                        <li class="nav-item" role="tab" id="heading-coordination">
    
                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-coordination" href="../templates/base.html" aria-expanded="false" aria-controls="collapse-coordination">
    
                                <i class="icon s-4 icon-clock"></i>
    
                                <span>Clase actual</span>
                            </a>
                            <ul id="collapse-coordination" class='collapse show' role="tabpanel" aria-labelledby="heading-coordination" data-children=".nav-item">

    
                                <li class="nav-item">
                                    <a class="nav-link ripple" href="/pretest" data-url="index.html">
                                        
                                        <i class="icon s-4 icon-chevron-double-left"></i>
                                        <span>Pre-Test</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link ripple " href="/livetest" data-url="index.html">
    
                                    <i class="icon s-4 icon-code-tags"></i>
    
                                    <span>Live-Quiz</span>
                                </a>
                                </li>
                                <li class="nav-item">
                                        <a class="nav-link ripple active" href="/posttest" data-url="index.html">
        
                                        <i class="icon s-4 icon-chevron-double-right"></i>
        
                                        <span>Post-Test</span>
                                    </a>
                                </li>
                             
                   
                        </ul>
                        <li class="nav-item" style="position: absolute; bottom: 10px;">
                                <a class="nav-link ripple " href="/login" data-url="index.html">

                                <i class="icon s-4 icon-logout"></i>

                                <span>Cerrar sesión</span>
                            </a>
                            </li>
                    </ul>
                </div>
            </div>
        </aside>
      <!-- Barra de navegación -->

        <div class="content-wrapper">
                <nav id="toolbar" class="bg-white">

                        <div class="row no-gutters align-items-center flex-nowrap">
                    
                            <div class="col">
                    
                                <div class="row no-gutters align-items-center flex-nowrap">
                    
                                    <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                        <i class="icon icon-menu"></i>
                                    </button>
                    
                                    <div class="toolbar-separator d-block d-lg-none"></div>
                                    
                       
                                    <div class="toolbar-separator"></div>
                    
                                    <div id="navbar_logo">
                                        <img  src="../static/assets/images/logos/icon-sidebar.png">  CTO Live Quiz</div>
                                    </div>
                                </div>
                            </div>
                    
                        
                    </nav>
        <div class="conent custom-scrollbar">


                <div id="project-dashboard" class="page-layout simple right-sidebar">

                    <div class="page-content-wrapper custom-scrollbar">

                        <!-- HEADER -->
                        <div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">

                            <div class="row no-gutters align-items-start justify-content-between flex-nowrap">

                                <div>
                                    <span class="h2">{{page_name}} </span>
                                    
                                </div>

                            </div>


                        </div>


        </div>
       </div>

   



</div>

<div style="height:100%;" class = "page-content p-6">
    <div style="height:100%;" class="content container" >
        <div id="project-dashboard" class="page-layout simple right-sidebar">
                <div style="height:100%;" class="page-content-wrapper">

    <div class="row h-100">

                                            <!-- WIDGET 6 
                                            <div class="col-12 col-lg-6 p-3">

                                                <div style="height:100%" class="widget widget6 card">

                                                    <div class="widget-header px-4 row no-gutters align-items-center justify-content-between">

                                                        <div class="col">
                                                            <span class="h6">Task Distrubition</span>
                                                        </div>

                                                        <div class="">
                                                            <select id="widget6-option-select" class="h6 custom-select">
                                                                <option selected="" value="R">This Week</option>
                                                                <option value="LW">Last Week</option>
                                                                <option value="2W">2 Weeks Ago</option>
                                                            </select>
                                                        </div>

                                                    </div>

                                                    <div class="widget-content">

                                                        <div  class="row">

                                                            <div class="col-12">

                                                                <div  id="widget6-main-chart" class="p-4">
                                                                    <svg style="height:400px;"></svg>
                                                                </div>

                                                            </div>

                                                            <div class="divider col-12"></div>

                                                            <div id="added-tasks" class="col-6 d-flex flex-column align-items-center justify-content-center py-4">

                                                                <div class="count h2">594</div>

                                                                <div class="count-title">Tasks Added</div>

                                                            </div>

                                                            <div id="completed-tasks" class="col-6 d-flex flex-column align-items-center justify-content-center py-4">

                                                                <div class="count h2">287</div>

                                                                <div class="count-title">Tasks Completed</div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            WIDGET 6 -->

        <div class="col-12 col-lg-12">
            <div style="height:350px;" class="row">
                    <div id="clockdiv" class = "col-lg-12">
                            <h1>Tiempo restante</h1>
                      <div>
                        <span style="height:150px; font-size:75px;" class="minutes">15</span>
                        <div class="smalltext">Minutos</div>
                      </div>
                      <div  >
                        <span style="height:150px; font-size:75px;" class="seconds">00</span>
                        <div class="smalltext">Segundos</div>
                      </div>
                    </div>
                </div>
                <div class="col-12"></div>
                <div class="col-12"></div>
                <div class="row">
                        <div class="col-3"></div>
                <div  class = "col-6">
                    <button style="height:80px;" id = "control-start" type="button" class="btn btn-secondary btn-lg btn-block" onclick="launch_posttest()">Iniciar</button>
                 </div>
                 <div class="col-12" style="height:40px;"></div>
                 <div class="col-3"></div>
                 <div  class = "col-6">
                    <button style="height:80px; width:100%;" id = "control-stop" type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target="#posttest_results_modal" onclick="get_posttest_results(); stop_posttest();">Terminar</button>                
                </div>
                </div>


        </div>
    </div> 

</div>
</div>
</div>
</div>
</div>
                                <!--   MODAL    -->
                                <!-- <div class="modal fade" id="posttest_results_modal"  tabindex="1" role="dialog" aria-labelledby="myModalLabel" >
                                    <div class="modal-dialog modal-lg" role="document">
                                      <div class="modal-content" style="border-radius: 15px !important;">
                                        <div class="modal-header" style="text-align: justify; text-justify: inter-word;">
                                
                                          <h4 class="modal-title" id="myModalLabel"><b>Resultados</b></h4>
                                        </div>
                
                                    <div class="modal-body" style="font-size:20px;" id="performance" style="text-align: center;">
                                        <div class="row">
                                            <div class="col"></div>
                                            <div class="col-10">
                                                <h2 style="text-align: center;" id="modal-title-results">Calculando resultados...</h2>
                                            </div>
                                            <div class="col"></div>
                                        </div>
                                        <div class="row">
                                                <div class="col"></div>
                                                <div class="col-6" style="text-align:center;">
                                                    <span style="margin: 0 auto;  font-size: 150px;" id="span_id" class="span_performance"></span>
                                                    <div style="margin: 0 auto;"id="loader_spinner" class="loader"></div>
                                                </div>
                                                <div class="col"></div>
                                            </div>
                                        
                                        
                                        
                                    </div>
                                        
                
                                        <div class="modal-footer">
                                            <div class="row">
                                                <div class="col" >
                                                        <button type="button" style="border-radius: 5px;  width: 100%;"class="btn btn-outline-danger" data-dismiss="modal" onclick="reload_page()">Cerrar</button>
                                                </div>
                                            </div>
                                          
                                          
                                        </div>
                                      </div>
                                    </div>
                                    
                                  </div> -->
                                <!--   MODAL    -->
</div>

<!--      TEMPORIZADOR   -->

<script type="text/javascript" src="../static/assets/js/apps/dashboard/project.js"></script>


<script type="text/javascript">

function getTimeRemaining(endtime) {
    console.log(endtime);
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 / 60) % 60);
    return {
      'total': t,
      'minutes': minutes,
      'seconds': seconds
    };
  }
  
  function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');
     
    function updateClock() {

      var t = getTimeRemaining(endtime);
  
      minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
      secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);
  
      if (t.total <= 0) {
        clearInterval(timeinterval);
      }
    }
    updateClock();
    var timeinterval = setInterval(updateClock, 1000);
    
 
  }



 
                
    function launch_posttest(){
        var deadline = new Date(Date.parse(new Date()) +  15 * 60 * 1000);
        initializeClock('clockdiv', deadline);
        document.getElementById("control-start").disabled = true;
        $.ajax({
            url:'/posttest_start/',
            type: 'POST',
            success:function(response){
                console.log(response);
            }

        });
    }

        function stop_posttest(){
        $.ajax({
            url:'/posttest_stop/',
            type: 'POST',
            success:function(response){
                console.log(response);
                location.reload() ///////////NO OLVIDES QUITAR ESTO DE AQUÍ CUANDO QUIERAS VER EL MODAL!!!!!!
            }
            
        });
    }

        function get_posttest_results(){
            $.ajax({
                url:'/posttest_results/',
                type: 'POST',
                success:function(response){
                    var average_performance = document.getElementById('performance');
                    var average_performance_span = average_performance.querySelector('.span_performance');
                    var average_performance_data = parseFloat(response);
                    var average_performance_id = document.getElementById('span_id');
                    var loader_spinner = document.getElementById('loader_spinner');
                    var myModalLabel = document.getElementById('#myModalLabel');
                    loader_spinner.style.display = "none";
                    $('.span_performance').text((Math.floor(average_performance_data*100))+'%');
                    $('#modal-title-results').text('Porcentaje de preguntas contestadas correctamente en el grupo:');
                    if (average_performance_data <= 0.5){
                        average_performance_id.style.color = "red";
                    } else if (average_performance_data > 0.5 && average_performance_data < 0.75){
                        average_performance_id.style.color = "yellow";
                        console.log(average_performance_data);
                    } else if (average_performance_data > 0.75 ){
                        average_performance_id.style.color = "green";
                    } else {
                        console.log("WTF");
                    }
                    console.log(parseFloat(response));

                }
            });
        }
        function reload_page(){
        setTimeout(location.reload(),200);
    }
    </script>


<!--      TEMPORIZADOR   -->





</main>
</body>



{% endblock %}